h1{
    text-align: center;
}

li{
    border: 2px solid rgb(62, 1, 59);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

ul{
    list-style: none;
    margin: 4rem;
    padding: 1rem;
    border: 4px solid rgb(177, 30, 210);
}